/*EVERYTHING*/
*{
	margin: 0;
	padding: 0;
}
*:focus {
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body{
	background-color: #f0f0f0;
}

/*LOGIN*/
.login_page{
	width: 400px;
	height: 420px;
	border: 3px solid #30323D;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	background-color: #D8DBE2;
}
.login_page_tabs{
	font-size: 25px;
	margin-bottom: 25px;
}
.switch_tab{
	width: 170px;
	display: inline-block;
	padding: 15px;
	background-color: #30323D;
	color: #FFFFFF;
	border-radius: 0px;
}
.switch_tab.selected{
	background-color: #D8DBE2;
	color: #000000;
}
/*LOGIN TAB*/
.login_title{
	height: 52px;
	font-size: 24px;
	line-height: 48px;
}
.welcome_message{
	height: 40px;
	font-size: 18px;
	line-height: 20px;
}
.login_page_input{
	width: 300px;
	height: 40px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
    border: 2px solid #30323D;
    padding: 5px;
}
.login_page_input::placeholder{
	font-size: 16px;
}
.login_page_button{
	width: 300px;
	height: 50px;
	padding: 5px;
	margin: auto;
	font-size: 25px;
	line-height: 50px;
	background-color: #30323D;
	color: #ffffff;
    border: 2px solid #30323D;
}
/*SIGNUP TAB*/
#signup_tab{
	display: none;
}

.show_message{
	font-size: 16px;
	height: 20px;
	width: 400px;
	text-align: center;
	margin: auto;
	padding-top: 20px;
	font-weight: bold;
	display: none;
}
.all_signed_up{
	font-size: 14px;
}
.developer_check{
	height: 40px;
	display: inline-block;
	vertical-align: top;
}
.developer_checkbox{
	height: 15px;
	width: 15px;
	border: 2px solid #30323D;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.developer_checkbox:hover{
	background-color: #a5a7ad;
}
.developer_checkbox.clicked{
	background-color: #30323D;
}

/*INDEX*/
.page{
	text-align: left;
	position: fixed;
	top: 50px;
	height: 645px;
	font-size: 0;
}

.code{
	height: 600px;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	font-size: 12px;
}

.code .header{
	height: 20px;
	font-size: 20px;
    user-select: none;
	font-family: sans-serif;
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: left;
}

.menu_bar{
	width:100%;
	height:50px;
	position: fixed;
	background: #30323D;
	z-index: 20;
	text-align: right;
	box-shadow: -3px -3px 10px 5px;
}

.checkbox{
	height:20px;
	width:60px;
	margin-top: 10px;
	vertical-align: top;
	position: fixed;
	font-family: sans-serif;
    line-height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 2px solid darkgray;
    color: darkgray;
    border-radius: 7px;
    user-select: none;
    text-align: center;
}

.btn:hover, .checkbox:hover{
	border: 2px solid white;
	color: white;
}

.btn.clicked, .checkbox.clicked{
	border: 2px solid white;
	color: white;
	background-color: gray;
}

.btn{
	height: 20px;
	display: inline-block;
	font-family: sans-serif;
    line-height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border: 2px solid darkgray;
    color: darkgray;
    border-radius: 7px;
    user-select: none;
}


#files_div{
	width:110px;
	height:150px;
	z-index: 8;
	position: fixed;
	top: 55px;
	display: none;
	right: 205px;
	background: #f0f0f0;
	border-radius: 5px;
	border: 3px solid #30323d;
	overflow-y: scroll;
	padding: 5px;
}

#files_div #files_section{
	height: 125px;
	overflow-y: scroll;
}

#files_div #upload_btn{
	width: 110px;
	height: 20px;
	font-size: 12px;
	color: darkgray;
	line-height: 20px;
	background-color: #30323d;
	text-align: center;
	font-family: sans-serif;
	border-radius: 5px;
	position: absolute;
	top: 135px;
	user-select: none;
}
#files_div #upload_btn:hover{
	color: white;
}

#files_div .file_row{
	width:110px;
	height:25px;
	white-space: nowrap;
	font-family: sans-serif;
	overflow-x: hidden;
	user-select: none;
}

#files_div .filename_div{
    display: inline-block;
	height:25px;
	font-size: 12px;
	line-height: 25px;
}

#files_div .filename_div:hover{
	background: #e0e0e0;
	font-weight: bold;
}

#files_div .delete_file_btn{
	width: 15px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #F25F5C;
    color: white;
    border-radius: 10px;
}

#files_div .delete_file_btn:hover{
    font-weight: bold;
    opacity: 0.8;
}

#versions{
	width:200px;
	height:300px;
	z-index: 9;
	display: none;
	position: fixed;
	top: 55px;
	background: #f0f0f0;
	border-radius: 5px;
	border: 3px solid #30323d;
	overflow-y: scroll;
}

.timestamp{
	font-family: sans-serif;
	padding: 5px;
    user-select: none;
}

.timestamp:hover{
	background: #e0e0e0;
}

.timestamp.selected{
	font-weight: bold;
	background: #c0c0c0;
}

.iframe{
	top: 50px;
	height: 645px;
	background: white;
	display: none;
	z-index: 10;
	position: fixed;
	border: none;
}

#iframeid{
	width: 100%;
	height: 100%;
	border: none;
}

.filename{
	display: inline-block;
	font-size: 15px;
	padding-left: 10px;
}

.filename:hover{
	color: gray;
}

.namechange_input{
	display: inline-block;
	vertical-align: middle;
	height: 17px;
	font-size: 15px;
	font-family: sans-serif;
	border: none;
	resize: none;
	width: 70px;
	text-align: left;
	margin-left: 10px;
	background: #f0f0f0;
}

.waiting{
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-family: sans-serif;
}

.chatting{
	width: 200px;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	display: block;
	background-color: #30323d;
	text-align: left;
	z-index: 11;
	box-shadow: 8px 1px 15px 3px;
}
.chatting_placeholder{
	width: 200px;
	height: 50px;
}
#clear_btn, #exit_btn{
	height: 10px;
	font-size: 8px;
	font-family: sans-serif;
	color: white;
	background-color: #F25F5C;
	text-align: center;
	margin: 3px;
	position: fixed;
	right: 0;
	padding: 4px;
	border-radius: 8px;
	user-select: none;
}
#clear_btn:hover, #exit_btn:hover{
	opacity: 0.8;
}

#add_friend_btn{
	width: 50px;
	height: 15px;
	font-size: 10px;
	line-height: 15px;
	font-family: sans-serif;
	text-align: center;
	margin: 5px 5px 0 5px;
	padding: 2px;
	display: inline-block;
	user-select: none;
}


.add_friend_input{
	height: 20px;
	width: 120px;
	font-size: 12px;
	line-height: 15px;
	display: inline-block;
	border: none;
	padding-left: 3px;
	padding-right: 3px;
}

.controls .btn{
	font-size: 10px;
	padding: 2px;
	margin: 5px 0 5px 6px;
	width: 50px;
	height: 15px;
	line-height: 15px;
	text-align: center;
}

.chatting .message{
	height: 20px;
	width: 120px;
	font-size: 10px;
	line-height: 20px;
	margin-top: 5px;
	display: inline-block;
	font-family: sans-serif;
	font-weight: bold;
	vertical-align: top;
	user-select: none;
}

.chat_log{
	width: 200px;
	height: 425px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: white;
}
.chat_log_designer{
	width: 200px;
	height: 453px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: white;
}

.chat_input{
	width: 190px;
	height: 90px;
	margin: 5px;
	padding: 5px;
	resize: none;
	font-size: 12px;
}

.single_chat{
	width: 200px;
	padding: 5px;
	font-family: sans-serif;
}

.single_chat .ID{
	font-weight: bold;
	font-size: 13px;
	height: 13px;
	display: inline-block;
}

.single_chat .time_stamp{
	font-size: 11px;
	height: 13px;
	display: inline-block;
	margin-left: 5px;
}

.single_chat .msg{
	font-size: 15px;
	margin-left: 10px;
	margin-top: 5px;
	overflow-wrap: break-word;
	width: 170px;
}

.room_info{
	height: 60px;
	width: 210px;
	background-color: #f0f0f0;
	line-height: 0;
}

.host_info{
	height: 16px;
	line-height: 16px;
	width: 190px;
	padding: 5px;
	font-size: 16px;
	text-align: center;
	font-family: sans-serif;
}

.member_info{
	float: left;
	height: 12px;
	line-height: 12px;
	width: 95px;
	padding: 2.5px;
	font-size: 11px;
	display: inline-block;
	text-align: left;
	font-family: sans-serif;
	vertical-align: top;
}

.mic_icon, .speaker_icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	font-size: 10px;
	vertical-align: top;
	border-radius: 7px;
	background: gray;
}